# train_party 데이터와 train_label 데이터 병합
# 순서
## 1. [Importing Packages 및 Loading Data](#1)
## 2. [파티 멤버 각각을 행으로 분리](#2)
## 3. [id별로 파티 시간 합치기 - groupby](#3)
## 4. [train_label 데이터와 병합 - merge](#4)

## 1. Importing Packages 및 Loading Data<a name = 1></a>

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
path = 'data/final_data_rev/test/'
DF_temp = pd.read_csv(path+'party_temp2.csv')
DF_label = pd.read_csv(path+'test_label.csv')

In [3]:
DF_temp.head()

,party_start_week,party_end_week,hashed,minutes
0,1,1,633e2b44564d93ff278716bf31db234040287de8bfaab2...,29.455717
1,3,3,7176c1516207692857535c30a4650b8e8e586af1fed0fd...,122.622317
2,3,3,8092e194a750aae539862ed4405f67a6dd5b492e7e57e3...,10.250083
3,6,6,4b33f0b6969e591bb19d7ea939af5e45e08c6799ef18e7...,19.357067
4,6,6,a284744f3707f84daf525d5040191fda9a46db4c368fe6...,2.608117

## 2. 파티 멤버 각각을 행으로 분리<a name=2></a>
아래 함수는 github의 재야의 숨은 고수가 만들어놓은 함수입니다. 코드를 이해하려고 노력했으나, 쉽지 않네요.<br/>
혹시나 아래 함수 코드를 이해하신 분은 저에게도 설명을 해주시면 감사하겠습니다!!

In [4]:
def splitDataFrameList(df,target_column,separator):
    ''' df = dataframe to split,
    target_column = the column containing the values to split
    separator = the symbol used to perform the split
    returns: a dataframe with each entry for the target column separated, with each element moved into a new row. 
    The values in the other columns are duplicated across the newly divided rows.
    '''
    def splitListToRows(row,row_accumulator,target_column,separator):
        split_row = row[target_column].split(separator)
        for s in split_row:
            new_row = row.to_dict()
            new_row[target_column] = s
            row_accumulator.append(new_row)
    new_rows = []
    df.apply(splitListToRows,axis=1,args = (new_rows,target_column,separator))
    new_df = pd.DataFrame(new_rows)
    return new_df

In [5]:
start = datetime.now()
new_df = splitDataFrameList(DF_temp, 'hashed', ',')
print("run time : ",datetime.now()-start)
print("Data shape : ",new_df.shape)
new_df.head(10)

run time :  0:10:13.793300
Data shape :  (21849944, 4)

,hashed,minutes,party_end_week,party_start_week
0,633e2b44564d93ff278716bf31db234040287de8bfaab2...,29.455717,1,1
1,2dec63faf79d9a03b66cf9c8b49019fff5521252510449...,29.455717,1,1
2,7176c1516207692857535c30a4650b8e8e586af1fed0fd...,122.622317,3,3
3,2209514bcb9b8408d678cb6e7393eafec86bea2531e4eb...,122.622317,3,3
4,fa1958e7846690088273f7f55c04bdbee9715ff2d3c085...,122.622317,3,3
5,e2f97c5cb6a71a627eb4590856d47bfb0f80c68ca76429...,122.622317,3,3
6,58425883f8bb54566f91d5a7fca19b4ec6925641337720...,122.622317,3,3
7,a97ef0bdc8c48dd18d4e67dce973eeffce0b7537960ede...,122.622317,3,3
8,8092e194a750aae539862ed4405f67a6dd5b492e7e57e3...,10.250083,3,3
9,7d73fbe4ddd9d6bde1cf0eeed79c46b9dbde62927f74d2...,10.250083,3,3

파티 구성원을 1열로 나열하니 34,559,610개나 되네요 ...<br/>
datetime.now()를 사용해서 코드의 run time을 확인할 수 있습니다.<br/>
혹시 모르니깐 결과가 맞는지 맨 마지막 2개 파티로 확인해보겠습니다.

In [16]:
display(DF_temp.tail(2))
display(DF_temp.iloc[-1,0])
display(DF_temp.iloc[-2,0])
new_df.tail(9)

,party_start_week,party_end_week,hashed,minutes
4121510,7,7,02181a0c962f34f019bc9d5b582fb0ec79b1441f96aa4d...,3.96700
4121511,6,6,a46cce8d986daaca5492e28cae8979c8601f1fe4ba898b...,14.56525

6

7

,hashed,minutes,party_end_week,party_start_week
21849935,3893d4da8854ada5484099d8017c1504d62d98cf11fb2a...,3.96700,7,7
21849936,039f09f2d5c1206d51c9299a774fe2041db91dcf60b487...,3.96700,7,7
21849937,2a8053c8632f8116fa8a8319709d73c09f3cf409d56afb...,3.96700,7,7
21849938,a46cce8d986daaca5492e28cae8979c8601f1fe4ba898b...,14.56525,6,6
21849939,70e19acc549bacbde5ec2c74b6fe19bc1ef39d63d2fa8b...,14.56525,6,6
21849940,d158ce3ac4745e1d0e1f44e9e7f345cc2cb7a6c38b183b...,14.56525,6,6
21849941,97022e70362d7dbd0fc5dc9557192baa99d64e4186802f...,14.56525,6,6
21849942,ba0f516f43d47b772ef75f631f16a6b91aada8d2c3f9f9...,14.56525,6,6
21849943,a410f525eb63794ef37d664ec478a44a5c235fefdb40c6...,14.56525,6,6

아주 잘 맞습니다! 다음 단계로 넘어갑시다!

In [17]:
### 2차 전처리 추가 코드입니다.(2018.08.03)
week = 1

DF_week = new_df[new_df['party_start_week'] == week]
DF_week_groupby = DF_week.groupby('hashed').agg('sum')
DF_week_groupby = DF_week_groupby.reset_index()

DF_week_groupby = DF_week_groupby.drop(['party_end_week', 'party_start_week'], axis = 1)
DF_week_groupby.columns = ['acc_id', str(week)+'_party_time']

DF_merge = pd.merge(left = DF_label, right = DF_week_groupby, how='left', on='acc_id')

In [18]:
### 2차 전처리 추가 코드입니다.(2018.08.03)
week = 2

DF_week = new_df[new_df['party_start_week'] == week]
DF_week_groupby = DF_week.groupby('hashed').agg('sum')
DF_week_groupby = DF_week_groupby.reset_index()

DF_week_groupby = DF_week_groupby.drop(['party_end_week', 'party_start_week'], axis = 1)
DF_week_groupby.columns = ['acc_id', str(week)+'_party_time']

DF_merge = pd.merge(left = DF_merge, right = DF_week_groupby, how='left', on='acc_id')

In [19]:
### 2차 전처리 추가 코드입니다.(2018.08.03)
week = 3

DF_week = new_df[new_df['party_start_week'] == week]
DF_week_groupby = DF_week.groupby('hashed').agg('sum')
DF_week_groupby = DF_week_groupby.reset_index()

DF_week_groupby = DF_week_groupby.drop(['party_end_week', 'party_start_week'], axis = 1)
DF_week_groupby.columns = ['acc_id', str(week)+'_party_time']

DF_merge = pd.merge(left = DF_merge, right = DF_week_groupby, how='left', on='acc_id')

In [20]:
### 2차 전처리 추가 코드입니다.(2018.08.03)
week = 4

DF_week = new_df[new_df['party_start_week'] == week]
DF_week_groupby = DF_week.groupby('hashed').agg('sum')
DF_week_groupby = DF_week_groupby.reset_index()

DF_week_groupby = DF_week_groupby.drop(['party_end_week', 'party_start_week'], axis = 1)
DF_week_groupby.columns = ['acc_id', str(week)+'_party_time']

DF_merge = pd.merge(left = DF_merge, right = DF_week_groupby, how='left', on='acc_id')

In [21]:
### 2차 전처리 추가 코드입니다.(2018.08.03)
week = 5

DF_week = new_df[new_df['party_start_week'] == week]
DF_week_groupby = DF_week.groupby('hashed').agg('sum')
DF_week_groupby = DF_week_groupby.reset_index()

DF_week_groupby = DF_week_groupby.drop(['party_end_week', 'party_start_week'], axis = 1)
DF_week_groupby.columns = ['acc_id', str(week)+'_party_time']

DF_merge = pd.merge(left = DF_merge, right = DF_week_groupby, how='left', on='acc_id')

In [22]:
### 2차 전처리 추가 코드입니다.(2018.08.03)
week = 6

DF_week = new_df[new_df['party_start_week'] == week]
DF_week_groupby = DF_week.groupby('hashed').agg('sum')
DF_week_groupby = DF_week_groupby.reset_index()

DF_week_groupby = DF_week_groupby.drop(['party_end_week', 'party_start_week'], axis = 1)
DF_week_groupby.columns = ['acc_id', str(week)+'_party_time']

DF_merge = pd.merge(left = DF_merge, right = DF_week_groupby, how='left', on='acc_id')

In [23]:
### 2차 전처리 추가 코드입니다.(2018.08.03)
week = 7

DF_week = new_df[new_df['party_start_week'] == week]
DF_week_groupby = DF_week.groupby('hashed').agg('sum')
DF_week_groupby = DF_week_groupby.reset_index()

DF_week_groupby = DF_week_groupby.drop(['party_end_week', 'party_start_week'], axis = 1)
DF_week_groupby.columns = ['acc_id', str(week)+'_party_time']

DF_merge = pd.merge(left = DF_merge, right = DF_week_groupby, how='left', on='acc_id')

In [24]:
### 2차 전처리 추가 코드입니다.(2018.08.03)
week = 8

DF_week = new_df[new_df['party_start_week'] == week]
DF_week_groupby = DF_week.groupby('hashed').agg('sum')
DF_week_groupby = DF_week_groupby.reset_index()

DF_week_groupby = DF_week_groupby.drop(['party_end_week', 'party_start_week'], axis = 1)
DF_week_groupby.columns = ['acc_id', str(week)+'_party_time']

DF_merge = pd.merge(left = DF_merge, right = DF_week_groupby, how='left', on='acc_id')

In [26]:
DF_merge.to_csv(path+'party.csv', encoding=False, index=False)

## 3. id별로 파티 시간 합치기 - groupby<a name =3></a>

In [7]:
start = datetime.now()
new_df_2 = new_df.groupby('hashed').agg('sum')
new_df_2 = new_df_2.reset_index()
new_df_2.columns = ['acc_id', 'total_party_time']
print(datetime.now()-start)
print("Data shape : ",new_df_2.shape)
new_df_2.head()

0:01:06.555333
Data shape :  (268148, 2)

                                              acc_id  total_party_time
0  000020b4fa2af1e40c813436e5054bce70b703d0039dcd...      56786.555050
1  0000264b01392acfde44f9d8494f112a701dc5d3e5fda6...       2514.369400
2  00006916672106f94f68d18e4a0532b53a40f4549d3a62...         33.826183
3  0000988c5778e9d6a861fee8fbfd88ec2fdc9108c1acd6...        620.352300
4  0000a2ff91f6891797708f346d8e3790fa75c1872d6fdc...       1011.070533

따로 설명이 필요 없다고 생각이 듭니다.

## 4. train_label 데이터와 병합 - merge<a name=4></a>

In [9]:
start = datetime.now()

DF_train = pd.merge(DF_label,new_df_2, how = 'left', on = 'acc_id')

print(datetime.now()-start)
print("Data shape : ",DF_train.shape)
DF_train.head()

0:00:00.205476
Data shape :  (100000, 3)

                                              acc_id label  total_party_time
0  b8fbf3f6a70e3f36843bffc70c18ff51a0d755a87616ec...  week        696.442867
1  ed500c4957956b3e99dc3985666850b582f812405eefb6...  week       2244.687433
2  acc6afa23a6bf15e18151e4794c7789225ef9d682f473c...  week        334.495633
3  34095a3c9a2937ced3ea3fd75e22ce177dc5879d2a53f7...  week               NaN
4  26f3db6e8817a93c4ceda9a16f0832945e43d950b95882...  week        625.470767

0.24초 실화입니까??! 내가 짠 코드는 한 행에 34초. 총 34초 x 10,000행 = 340,000초 = 5,666분 = 94시간 = 3.9일이었는데 ....<br/>
간단하게 NaN이 몇 개 있고, NaN은 파티를 안 한 것을 의미하니 0으로 채워넣도록 하겠습니다.

In [10]:
DF_train.isnull().sum()

acc_id                  0
label                   0
total_party_time    45642
dtype: int64

In [11]:
DF_train = DF_train.fillna(0)
DF_train.isnull().sum()

acc_id              0
label               0
total_party_time    0
dtype: int64

4,5627개나 있네요 .. 혹시 코드가 잘못된 것은 아닌지 걱정이 됩니다 .... <br/>
토요일까지 남은 시간에 임의로 몇 개 뽑아서 확인 작업해야겠습니다.<br/>
마지막으로 csv파일로 저장하겠습니다.

In [12]:
DF_train.to_csv(path+'train.csv', index = False, encoding = False)

현 시점에서 걱정되는 2가지
1. 파티 시간의 분산이 너무 크다. 분 단위를 시간 단위로 바꿔야하는가?
2. 대충 데이터로 봤을 때, 큰 상관관계는 없어보인다.